//! **************************************************************************
// Written by: Map O.76xd on Thu Mar 03 12:54:45 2016
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_CLK" LOCATE = SITE "R15" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "J14" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "J16" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "K16" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "K15" LEVEL 1;
COMP "VGA_B<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "VGA_B<6>" LOCATE = SITE "M15" LEVEL 1;
COMP "VGA_B<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "C1" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "B16" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "C15" LEVEL 1;
COMP "VGA_G<6>" LOCATE = SITE "C16" LEVEL 1;
COMP "VGA_G<7>" LOCATE = SITE "F16" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "M1" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "J4" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "VGA_R<5>" LOCATE = SITE "F1" LEVEL 1;
COMP "VGA_R<6>" LOCATE = SITE "F2" LEVEL 1;
COMP "VGA_R<7>" LOCATE = SITE "E1" LEVEL 1;
COMP "CS" LOCATE = SITE "T8" LEVEL 1;
COMP "SYNC_OUTPUT1" LOCATE = SITE "A2" LEVEL 1;
COMP "SYNC_OUTPUT2" LOCATE = SITE "B15" LEVEL 1;
COMP "CKE" LOCATE = SITE "J12" LEVEL 1;
COMP "SCK" LOCATE = SITE "R11" LEVEL 1;
COMP "LDQM" LOCATE = SITE "M4" LEVEL 1;
COMP "CS_N" LOCATE = SITE "H4" LEVEL 1;
COMP "MISO" LOCATE = SITE "P10" LEVEL 1;
COMP "MOSI" LOCATE = SITE "T10" LEVEL 1;
COMP "UDQM" LOCATE = SITE "L13" LEVEL 1;
COMP "WE_N" LOCATE = SITE "M3" LEVEL 1;
COMP "VGA_SYNC_N" LOCATE = SITE "M2" LEVEL 1;
COMP "BA<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "BA<1>" LOCATE = SITE "G3" LEVEL 1;
COMP "DQ<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "DQ<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "DQ<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "DQ<3>" LOCATE = SITE "P5" LEVEL 1;
COMP "DQ<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "DQ<5>" LOCATE = SITE "N5" LEVEL 1;
COMP "DQ<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "DQ<7>" LOCATE = SITE "N4" LEVEL 1;
COMP "DQ<8>" LOCATE = SITE "P12" LEVEL 1;
COMP "DQ<9>" LOCATE = SITE "R12" LEVEL 1;
COMP "CAS_N" LOCATE = SITE "L3" LEVEL 1;
COMP "SA<0>" LOCATE = SITE "E4" LEVEL 1;
COMP "SA<1>" LOCATE = SITE "E3" LEVEL 1;
COMP "SA<2>" LOCATE = SITE "D3" LEVEL 1;
COMP "SA<3>" LOCATE = SITE "C3" LEVEL 1;
COMP "SA<4>" LOCATE = SITE "B12" LEVEL 1;
COMP "SA<5>" LOCATE = SITE "A12" LEVEL 1;
COMP "SA<6>" LOCATE = SITE "D12" LEVEL 1;
COMP "SA<7>" LOCATE = SITE "E12" LEVEL 1;
COMP "SA<8>" LOCATE = SITE "G16" LEVEL 1;
COMP "SA<9>" LOCATE = SITE "G12" LEVEL 1;
COMP "RAS_N" LOCATE = SITE "L4" LEVEL 1;
COMP "DQ<10>" LOCATE = SITE "T13" LEVEL 1;
COMP "DQ<11>" LOCATE = SITE "T14" LEVEL 1;
COMP "DQ<12>" LOCATE = SITE "R14" LEVEL 1;
COMP "DQ<13>" LOCATE = SITE "T15" LEVEL 1;
COMP "DQ<14>" LOCATE = SITE "T12" LEVEL 1;
COMP "DQ<15>" LOCATE = SITE "P11" LEVEL 1;
COMP "SA<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "SA<11>" LOCATE = SITE "G11" LEVEL 1;
COMP "SA<12>" LOCATE = SITE "H13" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "T4" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "R7" LEVEL 1;
COMP "CLOCK_12" LOCATE = SITE "A9" LEVEL 1;
COMP "DRAM_CLK" LOCATE = SITE "K12" LEVEL 1;
COMP "CS_FLASH" LOCATE = SITE "T3" LEVEL 1;
COMP "SYNC_INPUT1" LOCATE = SITE "B1" LEVEL 1;
COMP "SYNC_INPUT2" LOCATE = SITE "B2" LEVEL 1;
SCHEMATIC END;

